table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 14px;
  margin-top: 20px;
  position: inherit;;
  margin-left: auto;
  margin-right: auto;
}
th{
  background-color: antiquewhite;
  color: black;
  text-align: left;
  padding: 8px;
  font-weight: bold;
  }
td{
  padding: 8px;
  }
tr:nth-child(even) td{
  background-color: rgb(70, 70, 54);
}
tr:hover td{
  background-color: rgb(182, 87, 50);
}


 